<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<th:block th:unless="${names} and ${names.size()>0}"><!--shows if false-->
    <p>No Names Yet!</p>
    <a href="events/create">Go Add a Name</a>
</th:block>

<!--<div th:each="event : ${hashMap}">-->
<!--    <p th:text="${event.key})"></p>-->
<!--</div>-->

       <table class="table">
           <thead>
           <tr>
               <th scope="col">Group Name</th>
               <th scope="col">Description</th>
           </tr>
           </thead>
           <th:block th:each="event:${hashMap}">
           <tbody>
           <tr>
               <td th:text="${event.key}"></td>
               <td th:text="${event.value}"></td>
           </tr>
           </tbody>
           </th:block>
       </table>


</body>
</html>